
// Colors
$lightColorConversion: #A8E5FF;
$growingColorConversion: #76D6FF;
$midColorConversion: #0BB5FF;
$grownColorConversion: #005980;
$darkColorConversion: #004969;
$nav-text-color: #000;



$skipShadeGreen: #7afac4;
$boundaryBlue: #0075ae;
$navShadow: rgba(0,0,0,0.2);

// Fonts
$sansitaFont: 'Sansita Swashed', cursive;

// units
$largeNavHeight: 55px;
$smallNavHeight: 50px;
$ConverterWidth: 95vw;

$largeIcon: 32px;
$smallIcon: 24px;
$iconColor: white;

$symbolMargin: 5px;
$smallMargin-top: 25px;
$symbol-size: 14px;
