
#control{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;

  //border: 2px solid grey;

  div{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 140px;
  }
  .active{
    border: 3px outset grey;
    background-color: blue;
    border-radius: 8px;
  }
/*  #length, #weight{
    width: 24%;
  }
  #temperature{ width: 52%;} */
}
@media screen and (max-width: 450px) {
  #control{
    width: 90%;
  }
}
@media screen and (min-width: 451px) {
  #control{
    width: 650px;
    height: 35px;
  }
}
