@import './elements/variables';
@import './elements/mixins';

#control{
  @include respond-layout(row,center,center);
  width: 90%;
  div{
    @include displayPosition(inline-block,relative);
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .active{
    border: 3px inset white;
    background-color: #009bf9;
    border-radius: 8px;
    color: $nav-text-color;
  }

}
@media screen and (max-width: 450px) {
  #control{
    line-height: 1.7;
    #temperature{ width: 42vw;}
    #weight, #length{ width:23vw;}
  }
}

@media screen and (min-width: 451px) {
  #control{
    height: 70px;
    line-height: 2;
    div{
      width: 140px;
    }
  }
}
