@import './elements/variables';
@import './elements/mixins';

nav{
  @include displayPosition(block,fixed);
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 3px solid $lightColorConversion;
  border-left: 3px solid $lightColorConversion;
  width: 100vw;
  margin-left: 10px;
  background-color: $midColorConversion;
  box-shadow: 0px 4px 5px $darkColorConversion;
  i{
    padding: 0px 15px 13px 20px;
    @include transformWithDuration(rotate(180deg),0s);
    @include displayPosition(block,relative);
    float: left;
    color: white;//#bc3f7f;//#3b4856;
    text-shadow: -15px 0px white,-7px 6px rgba(255,255,255,0.7);
  }
  span{
    @include displayPosition(block,relative);
    font-size: 26px;
    font-family: $sansitaFont;
    font-weight: bolder;

    padding-top: 10px;
    a{
      color: $nav-text-color;
      text-decoration: none;
    }
  }
/*  [title~='by']{
    background-color: $lightColorConversion;
    border-radius: 5px;
  } */
}

#main-container{
  @include respond-layout(column, center, center);
  width: 100vw;
  height: 100vh;

  #boundary{

    border: 3px outset black;
    border-radius: 10px;
    z-index: 3;
    width: $ConverterWidth;
    max-width: 650px;
    background-color: $grownColorConversion;
  }

}

@media screen and (max-width: 450px) {
  nav{
    height: $smallNavHeight;
    border-top-left-radius: $smallNavHeight;
    border-bottom-left-radius: $smallNavHeight;
    i{
      font-size: 26px !important;
    }
  }
  #boundary{
    @include respond-layout(row, space-around, center);
    flex-wrap: wrap;
    padding: 25px 10px;
  }
}
@media screen and (min-width: 451px) {
  nav{
    height: $largeNavHeight;
    border-top-left-radius: $largeNavHeight;
    border-bottom-left-radius: $largeNavHeight;
    i{
      font-size: 30px !important;
    }
  }
  #boundary{
    @include respond-layout(column, center, center);
    padding: 25px;
    margin-top: $largeNavHeight;
  }
}
