@import './elements/variables';
@import './elements/mixins';

nav{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 3px solid $lightColorConversion;
  border-left: 3px solid $lightColorConversion;
  width: 100vw;
  margin-left: 10px;
  background-color: $midColorConversion;
  box-shadow: 0px 4px 5px $darkColorConversion;
  i{
    padding: 9px 15px 0px 20px;
  }
  span{
    font-size: 26px;
    font-family: $sansitaFont;
    font-weight: bolder;
    color: $nav-text-color;
  }
}


#main-container{
  @include respond-layout(column, center, center);
  z-index: 1;
  width: 100vw;
  height: 100vh;

  #boundary{
    @include respond-layout(column, center, center);
    border: 3px outset black;
    border-radius: 10px;
    z-index: 1;
    width: $ConverterWidth;
    max-width: 650px;
    background-color: $grownColorConversion;
  }

}

@media screen and (max-width: 450px) {
  nav{
    height: $smallNavHeight;
    border-top-left-radius: $smallNavHeight;
    border-bottom-left-radius: $smallNavHeight;
    i{
      font-size: 26px !important;
    }
  }
}
@media screen and (min-width: 451px) {
  nav{
    height: $largeNavHeight;
    border-top-left-radius: $largeNavHeight;
    border-bottom-left-radius: $largeNavHeight;
    i{
      font-size: 30px !important;
    }
  }
  #boundary{
    padding: 25px;
  }
}
