
#results{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  width: 650px;
   #input{
     display: inline-block;
     position: relative;
   }
   #display{
     border: 2px solid red;
     display: inline-block;
     position: relative;
     width: 40%;
     text-align: right;
     padding-right: 8px;
   }
}
