@import './elements/variables';
@import './elements/mixins';

#results{
   #input{
     @include displayPosition(inline-block,relative);
   }
   #input ~ span{
     @include displayPosition(inline-block,relative);
     line-height: 1.3;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     color:white;
     font-size: $symbol-size;
     margin-left: $symbolMargin;
   }

   #display, #input{
     border: 3px inset $lightColorConversion;
     border-radius: 5px;
     text-align: right;
     background-color: white;
     font-size: 18px !important;
     line-height: 1.3;
     float: right;
     overflow-x: auto;
   }
   #display{
       @include displayPosition(block,relative);
   }
   #end  span{
     @include displayPosition(block,relative);
      color:white;
      float: right;
      margin-left: $symbolMargin;
      font-size: $symbol-size;
    }
    i{
      color: $iconColor;
      cursor: pointer;
    }
    i:active{
      transform: rotate(180deg);
      transition-duration: 0.1s;
      @include box-shadow(0px, 0px, 5px, 8px, $darkColorConversion);
      border: none;
      border-radius: 50%;
    }
}


@media screen and (max-width: 450px) {
  #results{
      @include respond-layout(column, space-evenly, center);
      width: 60%;
      height: 120px;
      margin-top: $smallMargin-top;
    i{
      font-size: 19px;
    }
    #display, #input{
      width: 80%;
    }

    #end{
       @include displayPosition(block,relative);
       width: 100%;
    }
    #begin{
      @include respond-layout(row, flex-end, self-end);
      width: 100%;
    }
    #end  span, #input ~ span{
      line-height: 2;
      width: 27px;
    }
  }
}
@media screen and (min-width: 451px) {
  #results{
      @include respond-layout(row, space-between, center);
      width: 95%;
      height: 70px;
    i{
      font-size: 24px;
    }
    #display{
      width: 80%;
    }
    #input ~ span{
      line-height: 1.3;
    }
    #end, #begin{
       @include displayPosition(inline-block,relative);
       width: 47%
    }
    #end  span{
      line-height: 2;
    }
  }
}
